figure {
    position: absolute;
    left: 300px;
    top: 0px;
}

body {
    background-image: url('background.gif');
    background-position: center;
    background-size: cover;
}

a:hover {
    position: relative;
    right: 10px;
}

a:active {
    position: relative;
    right: -10px;
}