@font-face {
    font-family: 'minecraft';
    src: url('Blog/font/Minecraft.ttf');
}

@media screen and (min-width: 720px){
    body {
        background-image: url('images/background.gif');
        background-size: fill;
        background-position: center;
    }
}

@media screen and (max-width: 720px){
    body {
        background-image: url('images/croped_bg.gif');
        background-size: fill;
        background-position: center;
    }
}

@media screen and (max-device-width: 480px){
    body {
        background-image: url('images/croped_bg.gif');
        background-size: fill;
        background-position: center;
    }
}

h1 {
    font-family: 'minecraft';
    font-size: 4em;
    color: rgb(65, 202, 84);
    text-align: center;
}

p {
    font-family: 'minecraft';
    font-size: 2em;
    color: azure;
    text-align: center;
    position: relative;
    top: -30px;
}

a:active {
    position: relative;
    top: 10px;
}

img {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    width: 250px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
  }
  
  img:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(369deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  } 