@font-face {
    font-family: 'lambresia';
    src: url(lambresia.otf);
}

body {
    background-image: url('background.jpg');
}

li {
    font-family: 'lambresia';
    font-size: 0.8em;
}

figure {
    position: absolute;
    top: -150px;
    left: 120px;
}

#north {
    position: absolute;
    top: auto;
    left: 300px;
    background-color: rgb(163, 171, 179, .5);
}

#west {
    position: absolute;
    top: 275px;
    background-color: rgb(163, 171, 179, .5);
}

a:hover {
    position: relative;
    right: 10px;
}

a:active {
    position: relative;
    right: -10px;
}

