@font-face {
    font-family: 'lambresia';
    src: url(../spacetrip/lambresia.otf);
}

p {
    font-family: 'lambresia';
    font-size: 1em;
    text-align: justify;
    margin: 30px;
}

body {
    background-image: url('background.jpg');
}

a.hint{
    position: absolute;
    bottom: 10px;
    left: 550px;
}

a.hint:active {
    position: relative;
    top: 20px;
}

a.menu {
    position: relative;
    top: 0px;
    left: 490px;
}

a.menu:hover {
    position: relative;
    right: 10px;
}

a.menu:active {
    position: relative;
    right: -10px;
}