@font-face {
    font-family: "bananaSplit";
    src: url('BananaYeti-Extrabold\ Trial.ttf');
}

body{
    background-image: url('backG.jpg');
    background-position: center;
    background-size: cover;
}

p {
    font-family: 'bananaSplit';
    font-size: 10em;
    text-align: center;
}


img {
    text-align: center;
    position: relative;
    bottom: 300px;
    left: -20px;
}

audio {
    position: relative;
    bottom: 400px;
    right: 25px;
}

#hint{
    font-size: 1.5em;
    position: relative;
    bottom: 500px;
    color: rgb(0, 0, 0);
    background-color: rgb(231, 217, 195);
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

em {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type=text]{
    position: relative;
    bottom: 410px;
    background-color: white;
    border: solid;
    font-family: 'bananaSplit';
    font-size: 20px;
    width: 10%;
}

input[type=button]{
    height: 35px;
    position: relative;
    bottom: 412px;
    right: 32px;
    border: solid;
    border-left: none;
    background-color: bisque;
}

input[type=button]:hover{
    transition: 1s;
    position: relative;
    bottom: 410px;
    right: 32px;
    border: solid black;
    border-left: none;
    background-color: rgb(29, 26, 22);
    color: white;
}