@font-face {
    font-family: 'digital-7' ;
    src: url(digital-7.ttf);
}

body {
    background-image: url('background.gif');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'digital-7';
    font-size: 8em;
    color: rgb(0, 170, 0);
    text-align: center;
    background-color: black;
    width: fit-content;
}

input[type=text]{
    background: black;
    width: 30%;
    text-align: center;
    color: greenyellow;
    padding: 10px;
    border-color: green;
    border-radius: 10px;
}


p {
    color: white;
    font-family: 'digital-7';
    font-size: 5em;
}

input[type=button]{
    background-color: rgb(78, 184, 78);
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    font-family: 'digital-7';
    font-size: 2em;
}

input[type=button]:hover{
    transition: 1s;
    background-color: rgb(184, 78, 78);
    border: none;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 40px;
    font-family: 'digital-7';
    font-size: 2em;

}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}